.loaderContainer{
    position:fixed;
    inset:0;
    background:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:999999;
}

.loaderContent{
    text-align:center;
}

.loaderLogo{
    animation:logoPulse 1.8s infinite;
}

.loaderContent h1{
    margin-top:20px;
    color:#0f766e;
    font-size:42px;
    font-weight:700;
}

.loaderContent p{
    color:#6b7280;
    margin-top:8px;
    font-size:18px;
}

.spinner{
    margin:35px auto 0;
    width:55px;
    height:55px;
    border:5px solid #d1fae5;
    border-top:5px solid #0f766e;
    border-radius:50%;
    animation:spin 1s linear infinite;
}

@keyframes spin{
    to{
        transform:rotate(360deg);
    }
}

@keyframes logoPulse{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.08);
    }

    100%{
        transform:scale(1);
    }

}