.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px 50px;

    background: rgba(255,255,255,0.96);
    backdrop-filter: blur(12px);

    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.logoSection{
    display:flex;
    align-items:center;
    gap:14px;
}

.logoImage{
    width:105px;
    height:105px;
    object-fit:contain;
    display:block;
    transition:0.3s ease;
}

.logoImage:hover{
    transform:scale(1.05);
}

.logoText{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.logoTitle{
    margin:0;
    color:#0f766e;
    font-size:28px;
    font-weight:700;
    line-height:1.1;
}

.logoSubtitle{
    margin-top:2px;
    color:#6b7280;
    font-size:13px;
    letter-spacing:0.5px;
}

.navLinks{
    display:flex;
    align-items:center;
    gap:30px;
}

.navLinks a{
    text-decoration:none;
    color:#374151;
    font-weight:600;
    font-size:16px;
    position:relative;
    transition:0.3s;
}

.navLinks a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;

    width:0;
    height:2px;

    background:#0f766e;

    transition:0.3s;
}

.navLinks a:hover{
    color:#0f766e;
}

.navLinks a:hover::after{
    width:100%;
}

.bookButton{
    background:#0f766e;
    color:white;

    border:none;

    padding:14px 26px;

    border-radius:12px;

    cursor:pointer;

    font-weight:600;
    font-size:15px;

    transition:0.3s;

    box-shadow:0 10px 25px rgba(15,118,110,.20);
}

.bookButton:hover{
    background:#065f46;
    transform:translateY(-2px);
}

@media(max-width:900px){

.navbar{
    flex-direction:column;
    gap:18px;
    padding:18px 20px;
}

.logoSection{
    gap:12px;
}

.logoImage{
    width:85px;
    height:85px;
}

.logoTitle{
    font-size:24px;
}

.logoSubtitle{
    font-size:12px;
}

.navLinks{
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.bookButton{
    padding:12px 22px;
}

}